<ng-container *transloco="let t; read: 'lazyScope'">
  <h2>{{ t('lazyTitle') }}</h2>

  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="openSuccessNotification()"
    >
      {{ t('openSuccessNotificationButton') }}
    </button>

    <button
      mat-raised-button
      color="warn"
      (click)="openFailureNotification()"
    >
      {{ t('openFailureNotificationButton') }}
    </button>
  </div>
</ng-container>
